{% extends 'message/base.html' %}
{% block content %}

{% load static %}

    <style>
        .top-space {
            margin-top: 40px;
            position: static;
        }

        .big-size{
            font-size: 40px;
        }

        .big-size-1{
            font-size: 100px;
        }

        #home-img{
            width: 100%;
        }

        .box{
            width: 100%;
            height: auto;
            margin-top: 5%;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
        }

        .text-shadow{
            text-shadow: -12px 7px 25px black;
        }

        /* .align-about{
            margin-left: 0px;
        } */

        .content-shadow{
            text-shadow: -12px 7px 30px rgb(146, 143, 143);
        }

        .align-flag{
            margin-left: -7px;
        }

        .align-cam{
            margin-left: -2px;
        }

        #BBEE{
            margin-left: 18px;
            font-size: larger;
        }
        .large-font{
            /* margin-left: 18px; */
            font-size: larger;
        }

        .content-shadow-2{
        text-shadow: -12px 7px 30px rgba(146, 143, 143, 0.5);
        }   
        
        .space-box{
            width: auto;
            margin: 3%;
            position: relative;
        }

        
        @media only screen and (min-width: 601px){

            #values{
                margin-left: 60%;
                margin-right: 0;
                margin-top: -400px;
                width: 540px;
                height: 550px;
                position: relative;
            }
        }

        #vision{
            margin-left: -254px;
            margin-top: -10px;
            /* font-size: large; */
        }

        #vision-1{
            margin-left: -12px;
            margin-top: -11px;
            /* font-size: large; */
        }

        #origin{
            font-size: larger;
        }

        .f-weight{
        font-size: 8vw;
    }

    </style>

    <!-- Home Section -->
    <section>
        <div class="parallax-container">
            <div class="parallax">
                <img src="{% static 'media/home_images/home_image_1.jpg' %}" id="home-img" class="responsive-img">
            </div>
            <div class="container">
                <div class="box">
                    <div class="col s12 m12 l12">
                        <h1 data-text="Welcome to our home page!" class="text-shadow animate white-text center-align f-weight bold-font-weight">Welcome to our home page!</h1>
                        <p class="text-shadow white-text center-align truncate">The <b>MADUTCH GROUP</b> originated within the construction sector specializing in general construction, road markings, building maintenance, erection of sports facilities, plumbing, panting, paving, tiling, electrical work, fencing, burglar proofing, residential renovations. remodeling and erection of homes, offices in the era of modern designs.</p><a href="#home" class="btn deep-orange darken-4 white-text waves-effect">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card z-depth-0">
            <div class="row z-depth-0">
                <div style="margin-top: 10%;" class="card-content">
                    <h1 class="col l6 m8 s12 left-align">
                        <b class="content-shadow-2">A Greater Need For Diversity:</b>
                        Building a Brighter Future Together
                        <hr class="deep-orange left-align" style="width: 30%; height: 40px; position: relative; margin-left: 0; margin-top: 7px;">
                    </h1>
                    <span>
                        <img style="width: max-content; height: 20%;" src="{% static 'media/logo_images/logo_image_2.png' %}" id="home-img" class="col l6 m8 s12 responsive-img right-align">
                    </span>
                </div>
            </div>
        </div>

    </section>

    <!-- About Section -->
    <section id="about">
        <div class="card z-depth-0">
            <div class="card-content left-align">
                
                
                <div class="row">
                    <div class="col s12 m12 l12 content-shadow-2">
                        <h1 class="left-align bold-font-weight indigo-text text-darken-4 content-shadow">About</h1><span>
                            <h1 class="bold-font-weight deep-orange-text text-darken-4 content-shadow">Us</h1>
                            <hr class="deep-orange left-align" style="width: 20%; height: 20px; position: relative; margin-left: 1px;">
                        </span>
                        <br>
                        <p class="align-about content-shadow-2 z-depth-0 large-font">The <b>MADUTCH GROUP</b> originated within the construction sector specializing in general construction, road markings, building maintenance, erection of sports facilities, plumbing, panting, paving, tiling, electrical work, fencing, burglar proofing, residential renovations. remodeling and erection of homes, offices in the era of modern designs. <br/><br/>
            
                        Madutch Property Development subsidiary has the ability to provide market leading industry knowledge, experience and expertise in the construction sector. <br/><br/>
        
                        The business later added subsidiary companies to the profile transformed it from what started as purely a construction company to a group of companies in aid to 
                        create jobs as well as create a one stop consortium for its clients. <br/><br/>
        
                        The additional services expands The <b>MADUTCH GROUP</b> to specialize in General Supplies (General Home & Office Supplies), Consulting, Manufacturing 
                        (Households detergents), Cleaning and Upholstery and Landscaping. </p>
                        <br>
                        <br>
                        <h4 class="bold-font-weight indigo-text text-darken-4 content-shadow">Our</h4><span><h4 class="bold-font-weight deep-orange-text text-darken-4 content-shadow">History</h4></span>
                        <br>
                        <p class="content-shadow-2 left-align large-font">The Madutch Group is a Level 1 BEE owned organization. Our Directors are young, dynamic and innovative who where previously disadvantaged individuals who has over the years to detach from the stigma associated to the being previously disadvantaged. Over the years they have delivered and maintained high service standards delivering projects and products with knowledge and professionalism.</p>   
                    </div>
                </div>
                <br>
                <br>
    
                <!-- <div class="container"> -->
                <div class="row">
                    <div class="col s12 m12 l12 content-shadow-2">
                        <b class="bold-font-weight big-size deep-orange-text text-darken-4 content-shadow" id="vision-1">Mission</b>
                        <span>
                            <i class="bold-font-weight align-flag big-size material-icons indigo-text text-darken-4 left content-shadow">flag</i>
                        </span>
                        <br>
                        <span>
                            <p class="content-shadow-2 large-font">
                                The Madutch Group is determine to contribute to the economy of the country by aiding the government's initiatives in community development project, market growth, profitability, employee well being and positive client sentiments. The Madutch Group is deter mined to transfer skills sets to persons who want to excel, providing homes of quality, assist in elevating poverty stricken areas and contribute to the safety of our country.
                            </p>
                        </span>                        
                    </div>
                </div>
    
                <br>
                <br>
    
                <!-- <div class="container"> -->
                <div class="row">
                    <div class="col s12 m6 l7 content-shadow-2">
                        <b class="bold-font-weight big-size deep-orange-text text-darken-4 content-shadow" id="vision">Vision</b>
                        <span>
                            <i class="bold-font-weight big-size align-cam material-icons indigo-text text-darken-4 left content-shadow">camera_video</i>
                        </span>
                        <br>
                        <span>
                            <p class="content-shadow-2 large-font">
                                The Madutch Group aims in being the leading service provider within each segments industry expanding within RSA and the rest of Africa, sustainable growth and improving customer satisfaction. One of the groups key focus is to rectify our countries imbalances by adopting the Employment Equity Act focusing on race, gender equality, youth development and comm unity Job creation. By addressing this key element the group determined to ens ure that MADUTCH to the lives of ordinary people.
                            </p>
                        </span>                        
                    </div>
                </div>
    
                <br>
                <br>
    
                
            </div>
        </div>
        <div class="right-align" id="values">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <img src="{% static 'message/Madutch-Values.png' %}" alt="" class="responsive-img">
                    </div>
                </div>
            </div>
        </div>
    </section>

           
    
{% endblock content %}